.Character img {
    height: 30vh;
    display: flex;
}

.Character .basic_info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 10px;
}

.Character .basic_info_text {
    margin: 10px;
}

.Character .save {
    position: fixed;
    bottom: 10px;
    right: 10px;
}