.Character .sheet {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 10% 18% 34.5% 34.5%;
    grid-template-rows: 200px 100px 100px 100px 100px 100px 100px 100px 100px;
    margin: 1%;
}

.Character .logo {
    height: 15vh;
}

.Character .character_image {
    height: 20vh;
    margin: 15% 0;
}

.Character .character_name {
    grid-area: 1 / 1 / 2 / 3;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

.Character .basic_info {
    grid-area: 1 / 3 / 2 / 5;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
}

.Character .basic_info_text {
    margin: 2%;
}

.Character .strength {
    grid-area: 2 / 1 / 3 / 2;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.Character .dexterity {
    grid-area: 3 / 1 / 4 / 2;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.Character .constitution {
    grid-area: 4 / 1 / 5 / 2;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.Character .intelligence {
    grid-area: 5 / 1 / 6 / 2;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.Character .wisdom {
    grid-area: 6 / 1 / 7 / 2;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.Character .charisma {
    grid-area: 7 / 1 / 8 / 2;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.Character .inspiration_proficiency {
    grid-area: 2 / 2 / 4 / 3;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    padding: 5%;
}

.Character .saving_throws {
    grid-area: 4 / 2 / 6 / 3;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 2% 5%;
}

.Character .skills {
    grid-area: 6 / 2 / 11 / 3;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0 2%;
    font-size: 90%;
}

.Character .ac_hp {
    grid-area: 2 / 3 / 5 / 4;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.Character .ac_hp .ac_hp_info {
    margin: 2%;
}

.Character .death_saves {
    grid-area: 5 / 3 / 6 / 4;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
    margin-top: 10px;
}

.Character .attacks {
    grid-area: 6 / 3 / 9 / 4;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.Character .personality {
    grid-area: 2 / 4 / 6 / 5;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.Character .save {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.Character .undo {
    position: fixed;
    bottom: 2%;
    right: 8%;
}