.Character {
    background: #efefef;
    position: absolute;
    top: 65px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 11% 16.5% 11% 11% 11% 35%;
    grid-template-rows: 190px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.Character .box {
    border: 1px;
    border-radius: 7px;
    border-style: solid;
    border-color: #d1d1d1;
    background-color: white;
    -moz-box-shadow: 0 0 8px #999;
    -webkit-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999;
}

.Character .active {
    z-index: 17;
    border: 1.5px;
    border-radius: 7px;
    border-style: solid;
    border-color: #d1d1d1;
    background-color: white;
    -moz-box-shadow: 0 0 8px #999;
    -webkit-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999;
    animation-name: expand;
    animation-duration: .2s;
    margin: -8%;
}

@keyframes expand {
    0%   {margin: -0%;}
    10%  {margin: -2%;}
    20%  {margin: -4%;}
    30%  {margin: -6%;}
    40%  {margin: -8%;}
    50%  {margin: -10%;}
    60%  {margin: -12%;}
    70%  {margin: -14%;}
    80%  {margin: -12%;}
    90%  {margin: -10%;}
    100% {margin: -8%;}
}

.Character .logo {
    height: 10vh;
}

.Character .character_name {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}

.Character .basic_info {
    grid-area: 1 / 3 / 2 / 7;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 15% 35% 8% 40%;
    grid-template-rows: 50% 50%;
}

.Character .character_image {
    grid-area: 1 / 1 / 3 / 2;
    height: 60%;
    padding: 20%;
}

.Character .race {
    grid-area: 1 / 2 / 2 / 3;
}

.Character .class {
    grid-area: 2 / 2 / 3 / 3;
}

.Character .xp {
    grid-area: 1 / 3 / 2 / 4;
}

.Character .level {
    grid-area: 2 / 3 / 3 / 4;
}

.Character .background {
    grid-area: 1 / 4 / 2 / 5;
}

.Character .alignment {
    grid-area: 2 / 4 / 3 / 5;
}

.Character .abilities {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.Character .abilities h5 {
    margin-top: 15%;
    margin-bottom: 5%;
}

.Character .strength {
    grid-area: 2 / 1 / 4 / 2;
}

.Character .dexterity {
    grid-area: 4 / 1 / 6 / 2;
}

.Character .constitution {
    grid-area: 6 / 1 / 8 / 2;
}

.Character .intelligence {
    grid-area: 8 / 1 / 10 / 2;
}

.Character .wisdom {
    grid-area: 10 / 1 / 12 / 2;
}

.Character .charisma {
    grid-area: 12 / 1 / 14 / 2;
}

.Character .skills {
    grid-area: 2 / 2 / 9 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 80%;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
}

.Character .skills h5 {
    font-size: 110%;
}

.Character .proficiency {
    grid-area: 9 / 2 / 10 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Character .inspiration {
    grid-area: 10 / 2 / 11 / 3;
}

.Character .saving_throws {
    grid-area: 11 / 2 / 14 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 80%;
    text-align: left;
    padding: 5% 1%;
}

.Character .saving_throws h5 {
    font-size: 110%;
}

.Character .passive_wisdom {
    grid-area: 14 / 1 / 15 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.Character .other_prof {
    grid-area: 15 / 1 / 20 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.Character .ac {
    grid-area: 2 / 3 / 4 / 4;
}

.Character .initiative {
    grid-area: 2 / 4 / 4 / 5;
}

.Character .speed {
    grid-area: 2 / 5 / 4 / 6;
}

.Character .max_hp {
    grid-area: 4 / 3 / 6 / 4;
}

.Character .current_hp {
    grid-area: 4 / 4 / 6 / 5;
}

.Character .temp_hp {
    grid-area: 4 / 5 / 6 / 6;
}

.Character .hit_dice {
    grid-area: 6 / 3 / 7 / 6;
    display: flex;
    justify-content: space-around;
}

.Character .weapons {
    grid-area: 2 / 6 / 7 / 7;
    padding-top: 3px;
}

.Character .spells {
    grid-area: 7 / 6 / 12 / 7;
    padding-top: 3px;
}

.Character .equipment {
    grid-area: 7 / 3 / 12 / 6;
    padding-top: 3px;
}

.Character .money {
    grid-area: 12 / 6 / 13 / 7;
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.Character .death_saves {
    grid-area: 13 / 6 / 15 / 7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.Character .saves {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Character .traits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.Character .personality {
    grid-area: 12 / 3 / 14 / 6; 
}

.Character .ideals {
    grid-area: 14 / 3 / 16 / 6;
}

.Character .bonds {
    grid-area: 16 / 3 / 18 / 6;
}

.Character .flaws {
    grid-area: 18 / 3 / 20 / 6;
}

.Character .feature_traits {
    grid-area: 15 / 6 / 20 / 7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.Character .save {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.Character .undo {
    position: fixed;
    bottom: 20px;
    right: 90px;
}

::-webkit-scrollbar { 
    display: none; 
}

@media (max-width: 1200px) {
    .Character {
        grid-template-columns: 15% 15% 15% 15% 35%;
        grid-template-rows: 190px 190px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 50px;
    }
    
    .Character .character_name {
        grid-area: 1 / 1 / 2 / 6;
        flex-direction: row;
        flex-wrap: none;
        align-content: space-between;
        align-items: center;
        padding: 1%;
    }
    
    .Character .basic_info {
        grid-area: 2 / 1 / 3 / 6;
    }
    
    .Character .strength {
        grid-area: 3 / 1 / 5 / 2;
    }
    
    .Character .dexterity {
        grid-area: 5 / 1 / 7 / 2;
    }
    
    .Character .constitution {
        grid-area: 7 / 1 / 9 / 2;
    }
    
    .Character .intelligence {
        grid-area: 9 / 1 / 11 / 2;
    }
    
    .Character .wisdom {
        grid-area: 11 / 1 / 13 / 2;
    }
    
    .Character .charisma {
        grid-area: 13 / 1 / 15 / 2;
    }

    .Character .ac {
        grid-area: 3 / 2 / 5 / 3;
    }

    .Character .initiative {
        grid-area: 3 / 3 / 5 / 4;
    }

    .Character .speed {
        grid-area: 3 / 4 / 5 / 5;
    }

    .Character .max_hp {
        grid-area: 5 / 2 / 7 / 3;
    }
    
    .Character .current_hp {
        grid-area: 5 / 3 / 7 / 4;
    }
    
    .Character .temp_hp {
        grid-area: 5 / 4 / 7 / 5;
    }
    
    .Character .hit_dice {
        grid-area: 7 / 2 / 8 / 5;
    }

    .Character .inspiration {
        grid-area: 8 / 2 / 9 / 3;
    }

    .Character .proficiency {
        grid-area: 9 / 2 / 10 / 3;
    }

    .Character .death_saves {
        grid-area: 8 / 3 / 10 / 5;
    }
    
    .Character .skills {
        grid-area: 3 / 5 / 9 / 6;
    }
    
    .Character .passive_wisdom {
        grid-area: 9 / 5 / 10 / 6;
    }

    .Character .weapons {
        grid-area: 10 / 2 / 15 / 6;
    }  
    
    .Character .spells {
        grid-area: 15 / 2 / 20 / 6;
    }
    
    .Character .equipment {
        grid-area: 20 / 2 / 25 / 6;
    }

    .Character .money {
        grid-area: 15 / 1 / 20 / 2;
        flex-direction: column;
        align-content: space-between;
        padding-left: 10%;
        padding-right: 0%;
        padding-bottom: 0%;
    }

    .Character .saving_throws {
        grid-area: 20 / 1 / 25 / 2;
    }
    
    .Character .other_prof {
        grid-area: 25 / 1 / 29 / 4;
    }

        
    .Character .feature_traits {
        grid-area: 29 / 1 / 33 / 4;
    }
    
    .Character .personality {
        grid-area: 25 / 4 / 27 / 6; 
    }
    
    .Character .ideals {
        grid-area: 27 / 4 / 29 / 6;
    }
    
    .Character .bonds {
        grid-area: 29 / 4 / 31 / 6;
    }
    
    .Character .flaws {
        grid-area: 31 / 4 / 33 / 6;
    }

    .Character .save {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    
    .Character .undo {
        position: fixed;
        bottom: 20px;
        right: 90px;
    }
}
