.Character .sheet {
    position: absolute;
    top: 65px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 11% 16% 35% 35%;
    grid-template-rows: 200px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px;
    margin-top: 10px;
    margin-left: 10px;
}

.Character .box {
    border: 1.5px;
    border-radius: 7px;
    border-style: solid;
    border-color: #d1d1d1;
    background-color: white;
    -moz-box-shadow: 0 0 8px #aaa;
    -webkit-box-shadow: 0 0 8px #aaa;
    box-shadow: 0 0 8px #aaa;
}

.Character .logo {
    height: 15vh;
}

.Character .character_name {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

.Character .basic_info {
    grid-area: 1 / 3 / 2 / 5;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 15% 35% 8% 40%;
    grid-template-rows: 50% 50%;
}

.Character .character_image {
    grid-area: 1 / 1 / 3 / 2;
    height: 20vh;
    margin: 15% 10%;
}

.Character .race {
    grid-area: 1 / 2 / 2 / 3;
}

.Character .class {
    grid-area: 2 / 2 / 3 / 3;
}

.Character .xp {
    grid-area: 1 / 3 / 2 / 4;
}

.Character .level {
    grid-area: 2 / 3 / 3 / 4;
}

.Character .background {
    grid-area: 1 / 4 / 2 / 5;
}

.Character .alignment {
    grid-area: 2 / 4 / 3 / 5;
}

.Character .abilities {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.Character .abilities h5 {
    margin-top: 15%;
    margin-bottom: 5%;
}

.Character .strength {
    grid-area: 2 / 1 / 4 / 2;
}

.Character .dexterity {
    grid-area: 4 / 1 / 6 / 2;
}

.Character .constitution {
    grid-area: 6 / 1 / 8 / 2;
}

.Character .intelligence {
    grid-area: 8 / 1 / 10 / 2;
}

.Character .wisdom {
    grid-area: 10 / 1 / 12 / 2;
}

.Character .charisma {
    grid-area: 12 / 1 / 14 / 2;
}

.Character .inspiration {
    grid-area: 2 / 2 / 3 / 3;
}

.Character .proficiency {
    grid-area: 3 / 2 / 4 / 3;
    padding-bottom: 10%;
}

.Character .saving_throws {
    grid-area: 4 / 2 / 7 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 80%;
    text-align: left;
    padding: 5% 1%;
}

.Character .saving_throws h5 {
    font-size: 110%;
}

.Character .skills {
    grid-area: 7 / 2 / 14 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 80%;
    text-align: left;
    padding: 5% 1%;
}

.Character .skills h5 {
    font-size: 110%;
}

.Character .passive_wisdom {
    grid-area: 14 / 1 / 15 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.Character .other_prof_languages {
    grid-area: 15 / 1 / 20 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.Character .ac_hp {
    grid-area: 2 / 3 / 7 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
}

.Character .ac_hp .ac_hp_info {
    margin: 2%;
}

.Character .death_saves {
    grid-area: 7 / 3 / 9 / 4;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.Character .money {
    grid-area: 9 / 3 / 10 / 4;
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.Character .weapons {
    grid-area: 10 / 3 / 15 / 4;
    padding-top: 1%;
}

.Character .equipment {
    grid-area: 15 / 3 / 20 / 4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Character .traits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.Character .personality {
    grid-area: 2 / 4 / 4 / 5; 
}

.Character .ideals {
    grid-area: 4 / 4 / 6 / 5;
}

.Character .bonds {
    grid-area: 6 / 4 / 8 / 5;
}

.Character .flaws {
    grid-area: 8 / 4 / 10 / 5;
}

.Character .spells {
    grid-area: 10 / 4 / 15 / 5;
}

.Character .feature_traits {
    grid-area: 15 / 4 / 20 / 5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.Character .save {
    position: fixed;
    bottom: 3%;
    right: 2%;
}

.Character .undo {
    position: fixed;
    bottom: 3%;
    right: 8%;
}

::-webkit-scrollbar { 
    display: none; 
}