.Character .sheet {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 10% 18% 34.5% 34.5%;
    grid-template-rows: 200px 200px 200px 200px;
    margin: 1%;
}

.Character .logo {
    height: 15vh;
}

.Character .character_image {
    height: 20vh;
    margin: 15% 0;
}

.Character .character_name {
    grid-area: 1 / 1 / 2 / 3;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

.Character .basic_info {
    grid-area: 1 / 3 / 2 / 5;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    padding: 0 2%;
}

.Character .basic_info .basic_info_text {
    margin: 2%;
}

.Character .modifiers {
    grid-area: 2 / 1 / 5 / 1;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.Character .col2 {
    grid-area: 2 / 2 / 7 / 3;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.Character .col3 {
    grid-area: 2 / 3 / 5 / 4;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.Character .col3 .col3_info {
    margin: 2%;
}

.Character .death_saves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Character .attacks {
    grid-area: 5 / 3 / 7 / 4;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.Character .save {
    position: fixed;
    bottom: 2%;
    right: 2%;
}