.Equipment {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 270px 70px 30px;
}

.Equipment .equipment_table {
    grid-area: 1 / 1 / 2 / 2;
    overflow: scroll;
}

.Equipment .equipment_notes {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Equipment .all_equipment {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    margin: 0 35%;
}
