.Equipment {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 310px 65px;
}

.Equipment .equipment_table {
    grid-area: 1 / 1 / 2 / 2;
    overflow: scroll;
}

.Equipment .add_equipment {
    grid-area: 2 / 1 / 3 / 2;
}

.Equipment .all_equipment {
    display: flex;
    align-items: center;
    margin: 0 40%;
}

.Equipment .new_armor {
    margin-top: 10%;
}
