.Spells {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 310px 65px;
}

.Spells .spell_table {
    grid-area: 1 / 1 / 2 / 2;
    overflow: scroll;
}

.Spells .add_spell {
    grid-area: 2 / 1 / 3 / 2;
}

.Spells .all_spells {
    display: flex;
    align-items: center;
    margin: 0 40%;
}

.Spells .new_spell {
    margin-top: 10%;
}
