.Home {
    background: #efefef;
}

.Home .characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 25%;
    padding: 7% 0;
}

.Home .new {
    position: fixed;
    bottom: 3%;
    right: 2%;
}
