.Header .links {
    position: relative;
    right: 5px;
    top: 12px;
}

.Header .ham {
    display: none;
}

@media (max-width: 1000px) {
    .Header .links {
        display: none;
    }
    .Header .ham {
        display: inline;
        position: relative;
        right: 0;
        top: 10px;
    }
}
