.Login {
    background-color: rgb(42, 47, 77);
}

.Login .image{
    height: 100vh;
    background-image: url('../../assets/svg_logos/color_logo_with_background.svg');
    background-size: 70vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
