.Login .image{
    height: 100vh;
    background-image: url('../../assets/dnd.jpg');
    background-size: 1370px;
    background-position: center;
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
}
